<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>{{_["tit_protocolos"]}}</h2>
        <breadcrumb prefix="{{_['tit_inicio']}}"></breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{_["tit_nuevo_protocolo"]}}</h5>
                </div>
                <div class="ibox-content">
                    <form #nuevoProtocolo="ngForm" (ngSubmit)="guardar(nuevoProtocolo)" class="form-horizontal">
                        <lab-form-field [label]="_['cmp_nombre']">
                            <input required type="text" class="form-control panel-warning" name="nombre" ngModel>
                        </lab-form-field>
                        <lab-form-field [label]="_['cmp_fecha_creacion']">
                            <input type="date" class="form-control " name="fecha" ngModel>
                        </lab-form-field>
                        <lab-form-field [label]="_['cmp_version']">
                            <input type="text" class="form-control" name="version" ngModel>
                        </lab-form-field>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a [routerLink]="['/protocolo']" class="btn btn-white" type="submit">{{_['acc_cancelar']}}</a>
                                <button class="btn btn-primary" type="submit" [disabled]="!nuevoProtocolo.form.valid">
                                    {{_['acc_guardar']}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <protocolo-editor-proceso [proceso]="pasosProceso"></protocolo-editor-proceso>
        </div>
    </div>
</div>
