<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2 *ngIf="protocolo">{{_['tit_protocolo']}}: {{protocolo.nombre}}</h2>
        <breadcrumb prefix="{{_['tit_inicio']}}"></breadcrumb>
    </div>
</div>

<div class="row" *ngIf="protocolo">
    <div class="col-sm-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{_['tit_info_basica']}}</h5>
                    <ui-ibox-tools [collapse]='true'>
                        <a [routerLink]="['/protocolo',idProtocolo,'version']" class="btn btn-sm btn-primary m-t-n-xs">
                            {{_["tit_versiones"]}}</a>
                    </ui-ibox-tools>
                </div>
                <div class="ibox-content">

                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{_['tit_proceso']}}</h5>
                    <ui-ibox-tools [collapse]='true'></ui-ibox-tools>
                </div>
                <div class="ibox-content">
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                Favorite drinks
            </div>
            <div class="panel-body">
                <ul class="list-group" dnd-sortable-container [sortableData]="listOne">
                    <li *ngFor="let item of listOne; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                My prefences:<br/>
                <span *ngFor="let item of listOne; let i = index">{{i + 1}}) {{item}}<br/></span>
            </div>
        </div>
    </div>

</div>

                </div>
            </div>
        </div>
    </div>
</div>