<div class="row">
    <div class="ibox-title">
        <h5>Experimento</h5>
    </div>
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Objetivo</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ experimento[0].experimento }}</td>
                <td>{{ experimento[0].objetivo }}</td>
                <td>{{ experimento[0].fecha }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>