<div>
    <div class="form-group"><label class="col-lg-4 control-label">Nombre:</label>
        <div class="col-lg-8">{{ experimento.experimento }}</div>
    </div>
    <div class="form-group"><label class="col-lg-4 control-label">Objetivo:</label>
        <div class="col-lg-8">{{ experimento.objetivo }}</div>
    </div>
    <div class="form-group"><label class="col-lg-4 control-label">Fecha:</label>
        <div class="col-lg-8">{{ experimento.fecha }}</div>
    </div>
    <div class="form-group"><label class="col-lg-4 control-label">Protocolos Asociados:</label>
        <div class="col-lg-8" style="word-wrap:break-word;">
            <li>BG-45</li>
            <li>BW-38</li>
            <li>B-12</li>
        </div>
    </div>
    <div class="form-group"><label class="col-lg-4 control-label">Asistentes:</label>
          <div class="col-lg-8" style="word-wrap:break-word;" *ngFor="let asistente of experimento.asistentes">
              <li>{{ asistente.nombre }}</li>

          </div>
      <myApp></myApp>

      </div>
</div>

