<div class="row" *ngIf="proyecto">
    <div class="col-sm-12 col-md-6">
        <dl class="dl-horizontal">
            <dt class="m-b-xs">{{_['cmp_identificador']}}</dt>
            <dd class="m-b-xs">{{proyecto.identificador}}</dd>
            <dt class="m-b-xs">{{_['cmp_nombre']}}:</dt>
            <dd class="m-b-xs">{{proyecto.nombre}}</dd>
            <dt class="m-b-xs">{{_['cmp_estado']}}:</dt>
            <dd class="m-b-xs"><span class="label label-primary">{{proyecto.estado}}</span></dd>
            <dt class="m-b-xs">{{_['cmp_fecha_creacion']}}:</dt>
            <dd class="m-b-xs">{{proyecto.fecha_creacion}}</dd>
            <dt class="m-b-xs">{{_['cmp_fecha_inicio']}}:</dt>
            <dd class="m-b-xs">{{proyecto.fecha_inicio}}</dd>
            <dt class="m-b-xs">{{_['cmp_descripcion']}}:</dt>
            <dd class="m-b-xs"><span style="white-space: pre-wrap; text-align: justify;">{{proyecto.descripcion}}</span></dd>
        </dl>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="ibox">
            <div class="ibox-content">
                <h3>{{_['cmp_integrantes']}}</h3>
                <ul class="list-unstyled file-list">
                    <li><a href="#">Naomi Cazares Serrato</a></li>
                    <li><a href="#">Jasón Bahena Madera</a></li>
                    <li><a href="#">Arnold Narvaez Gil</a></li>
                    <li><a href="#">Juan Ortega Paredes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
