<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2 *ngIf="proyecto">{{_['tit_proyecto']}}: {{proyecto.nombre}}</h2>
        <breadcrumb prefix="{{_['tit_inicio']}}"></breadcrumb>
    </div>
</div>

<div class="row" *ngIf="proyecto">
    <div class="col-sm-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{_['tit_info_basica']}}</h5>
                    <ui-ibox-tools [collapse]='true'></ui-ibox-tools>
                </div>
                <div class="ibox-content">
                    <proyecto-informacion-basica *ngIf="proyecto" [proyecto]='proyecto'></proyecto-informacion-basica>
                </div>
            </div>
            <!----------------------->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{_['tit_docs_adjuntos']}}</h5>
                    <ui-ibox-tools [collapse]='true'></ui-ibox-tools>
                </div>
                <div class="ibox-content">
                    <proyecto-adjuntos *ngIf="hayDocumentos()"></proyecto-adjuntos>

                    <div class="alert alert-info" *ngIf="!hayDocumentos()">
                        {{_['msg_no_docs_proyecto']}}
                    </div>
                </div>
            </div>
            <!----------------------->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{_['tit_experimentos']}}</h5>
                    <div class="ibox-tools">
                        <a [routerLink]="['/proyecto',idProyecto,'experimento']" class="btn btn-sm btn-primary pull-right m-t-n-xs">
                            Asociar Experimento</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive" *ngIf="hayExperimentos()">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{_['tit_experimento']}}</th>
                                <th>{{_['cmp_objetivo']}}</th>
                                <th>{{_['tit_acciones']}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let el of experimentos">
                                <td style="cursor: pointer;" (click)="seleccionarExperimento(el)">
                                    {{el.experimento.experimento}}
                                </td>
                                <td style="cursor: pointer;" (click)="seleccionarExperimento(el)">
                                    {{el.experimento.objetivo }}
                                </td>
                                <td><a><i class="fa fa-sign-in text-navy"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-info" *ngIf="!hayExperimentos()">
                        {{_['msg_no_exp_proyecto']}}
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins" *ngIf="experimentoSeleccionado">
                <div class="ibox-title">
                    <h5>{{_['tit_protocolos']}}</h5>
                </div>
                <div class="ibox-content">
                         <protocolo-buscador fuente="1"></protocolo-buscador>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Resumen protocolo</h5>
                                </div>
                                <div class="ibox-content">
                                      <protocolo-buscador fuente="1"></protocolo-buscador>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




