<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{_["tit_proyectos"]}}</h2>
        <breadcrumb prefix="{{_['tit_inicio']}}"></breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Información Basica</h5>
                </div>
                <div class="ibox-content">
                    <proyecto-informacion-basica></proyecto-informacion-basica>
                    <proyecto-adjuntos></proyecto-adjuntos>
                </div>
            </div>
            <!----------------------->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Experimentos</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive ">
                        <table class="table table-striped" *ngIf="show">
                            <thead>
                            <tr>
                                <th>Experimento</th>
                                <th>Actualizado en</th>
                                <th>objetivo</th>
                                <th>Acciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let exp of proyecto.experimentos">

                                <td>{{ exp.experimento}}</td>
                                <td>{{ exp.fecha }}</td>
                                <td>{{exp.objetivo }}</td>

                                <td><a><i class="fa fa-sign-in text-navy"></i></a></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Resumen experimento</h5>
                                </div>
                                <div class="ibox-content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Protocolos</h5>
                </div>
                <div class="ibox-content">
                    <protocolo-buscador></protocolo-buscador>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Resumen protocolo</h5>
                                </div>
                                <div class="ibox-content">
                                    <protocolo-resumen></protocolo-resumen>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




