<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2 *ngIf="proyecto">{{_['tit_proyecto']}}: {{proyecto.nombre}}</h2>
        <breadcrumb prefix="{{_['tit_inicio']}}"></breadcrumb>
    </div>
</div>

<div class="row" *ngIf="proyecto">
    <div class="col-sm-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{_['tit_info_basica']}}</h5>
                </div>
                <div class="ibox-content">
                    <proyecto-informacion-basica *ngIf="proyecto" [proyecto]='proyecto'></proyecto-informacion-basica>
                    <proyecto-adjuntos></proyecto-adjuntos>
                </div>
            </div>
            <!----------------------->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{_['tit_experimentos']}}</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive" *ngIf="hayExperimentos()">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{_['tit_experimento']}}</th>
                                <th>{{_['cmp_objetivo']}}</th>
                                <th>{{_['tit_acciones']}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let el of experimentos">
                                <td>{{el.experimento.experimento}}</td>
                                <td>{{el.experimento.objetivo }}</td>
                                <td><a><i class="fa fa-sign-in text-navy"></i></a></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="!hayExperimentos()">
                        <a class="btn btn-block btn-primary">No existen experimentos asociados al proyecto. Click acá para agregar.</a>
                    </div>
                    <div class="row" *ngIf="experimentoSeleccionado">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>{{_['tit_res_experimento']}}</h5>
                                </div>
                                <div class="ibox-content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins" *ngIf="hayExperimentos()">
                <div class="ibox-title">
                    <h5>{{_['tit_protocolos']}}</h5>
                </div>
                <div class="ibox-content">
                    <protocolo-buscador></protocolo-buscador>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Resumen protocolo</h5>
                                </div>
                                <div class="ibox-content">
                                      <protocolo-buscador fuente="1"></protocolo-buscador>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




