<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{_['tit_proceso']}}</h5>
        <ui-ibox-tools [collapse]='true' [help]="true">
            <a *ngIf='editable' (click)="toogleEditor()">
                <i class="fa fa-pencil"></i>
            </a>
        </ui-ibox-tools>
    </div>
    <div class="ibox-content">
        <div class="row" *ngIf="editor">
            <div class="col-sm-12">
                <textarea class="form-control editor-proceso m-b-md" name="descripcion"
                    [(ngModel)]="textoProceso" (ngModelChange)="updatePasos()"></textarea>
            </div>
        </div>
        <div *ngIf="pasosProceso">
            <div class="row" *ngFor="let etapa of pasosProceso">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            {{etapa.nombre}}
                        </div>
                        <div class="panel-body">
                            <ol class="list-group" dnd-sortable-container [sortableData]="etapa.pasos">
                                <li *ngFor="let paso of etapa.pasos; let i = index" class="list-group-item format-text"
                                    dnd-sortable [sortableIndex]="i" (onDragSuccess)="updateTexto()">{{i+1+". "+paso}}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>