<div class="ibox-content">
    <div class="form-group">
        <input (keyup)="keyup()" placeholder="Filtrar" class="input-sm form-control" type="text" [(ngModel)]="nombre"/>
    </div>
    <div class="table-responsive ">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Protocolo</th>
                <th>Actualizado en</th>
                <th>version</th>
                <th>Acciones</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let protocolo of protocolos" >
                <td><small>{{ protocolo.nombre }}</small></td>
                <td>{{ protocolo.fecha }}</td>
                <td>{{ protocolo.version }}</td>

                <td><a><i class="fa fa-sign-in text-navy"></i></a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
